@import "tailwindcss";

:root {
  --background: #171717;
 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.btnFlotante {
  border-radius: 200px;
  position: fixed;
  bottom: 60px;
  right: 40px;
  transition: all 300ms ease 0ms;
  z-index: 99;
  width: 80px;
  height: 80px;
}
.btnFlotante:hover {
  background-color: #eeeeee;
  transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
  .btnFlotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
  }
  .img-chat {
    margin-top: 10px;
    /* border-radius: 100px; */
    width: 70px;
    height: 50px;
    margin-left: -15px;
  }
}